<div id="app">
  <div><video #video id="video" width="640" height="480" autoplay></video></div>
  <div><button id="snap" (click)="capture()">Snap Photo</button></div>
  <canvas #canvas id="canvas" width="640" height="480"></canvas>
  <ul>
    <li *ngFor="let c of captures">
      <img src="{{ c }}" height="50" />
    </li>
  </ul>
</div>

<label>shopid:
  <input [(ngModel)]="product.shop_id" placeholder=1/>
</label>
<label>product name:
  <input [(ngModel)]="product.product_name" placeholder=chocolate/>
</label>
<label>barcode:
  <input [(ngModel)]="product.product_barcode" placeholder=54654698/>
</label>
<label>product_quantity:
  <input [(ngModel)]="product.product_quantity" placeholder=234/>
</label>
<label>product price:
  <input [(ngModel)]="product.product_price" placeholder=1.0525/>
</label>
<label>latitude:
  <input [(ngModel)]="product.latitude" placeholder=42.0265/>
</label>
<label>longitude:
  <input [(ngModel)]="product.longitude" placeholder=-90/>
</label>
